@media only screen and (min-width: 992px) {
    .movie{
        display: grid;
        grid-template-columns: 75% 25%;
        column-gap: 20px;
    }
    .first-div {
        width: 1200px;
        margin: 0 auto;
    }
    

}        